{% extends "dashboard/base-dashboard.html" %}
{% load crispy_forms_tags %}
{% block title %}Categories{% endblock %}
{% block content %}
    <h3 class="pb-3 mb-0">Categories</h3>
    <div class="pb-3">
        <a href="{% url 'create-claims-category' %}">Create new category</a>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover mb-0 table-custom-responsive"
               x-init>
            <thead>
                <tr>
                    <th style="width: 1%;">ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Is active?</th>
                    <th style="width: 1%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in page_obj %}
                    <tr>
                        <td class="text-right">
                            <b class="d-inline d-md-none">ID</b>
                            {{ row.pk }}
                        </td>
                        <td>
                            <b class="d-block d-md-none">Name</b>
                            <a href="{% url 'edit-claims-category' pk=row.pk %}">{{ row.name }}</a>
                        </td>
                        <td>
                            <b class="d-block d-md-none">Description</b>
                            {{ row.description | default:"-" }}
                        </td>
                        <td>
                            <b class="d-inline d-md-none">Created</b>
                            {% include 'widgets/date.html' with value=row.created %}
                        </td>
                        <td>
                            <b class="d-inline d-md-none">Is active?</b>
                            {% if row.is_active %}
                                <span class="badge badge-success">Active</span>
                            {% else %}
                                <span class="badge badge-secondary">Not active</span>
                            {% endif %}
                        </td>
                        <td>
                            <b class="d-block d-md-none">Actions</b>
                            <a href="{% url 'edit-claims-category' pk=row.pk %}"
                               class="btn btn-outline-secondary"
                               data-toggle="tooltip"
                               data-title="Edit">
                                <i class="fa fa-fw fa-pencil"></i>
                                <span class="d-md-none">Edit</span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            <div class="text-center py-3">
                                <p>No categories.</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pt-3">{% include 'widgets/pagination.html' %}</div>
{% endblock %}
