{% extends "dashboard/base-dashboard.html" %}
{% block title %}Duplicate claim {{ object.invoice_id }}{% endblock %}
{% block content %}
    <h3 class="pb-3 mb-0">Duplicate claim {{ object.invoice_id }}</h3>
    <p>Are you sure you want to duplicate this claim?</p>
    <form action="{{ request.path }}" method="post" x-init>
        {% csrf_token %}
        <button type="button"
                x-on:click.prevent="history.back()"
                class="btn btn-outline-secondary">Go back</button>
        <button type="submit" class="btn btn-secondary">Duplicate</button>
    </form>
{% endblock %}
